.Sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-image: url(/images/pee\ background\ image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   
    

};


